<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="easy-money-user-form-styles.html">
<link rel="import" href="../cells-contact-avatar/cells-contact-avatar.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../cells-radio-button/cells-radio-button.html">
<link rel="import" href="../cells-radio-group/cells-radio-group.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">

<!--
`<easy-money-user-form>` description.

Example:

```html
<easy-money-user-form></easy-money-user-form>
```

## Icons

Since this component uses icons, it will need an [iconset](https://bbva.cellsjs.com/guides/best-practices/cells-icons.html) in your project as an [application level dependency](https://bbva.cellsjs.com/guides/advanced-guides/application-level-dependencies.html). In fact, this component uses an iconset in its demo.

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:---------------|
| --easy-money-user-form  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@customElement
@polymer
@demo demo/index.html
-->
<dom-module id="easy-money-user-form">
  <template>
    <style include="easy-money-user-form-styles easy-money-user-form-shared-styles"></style>
    <slot></slot>
    <p>
      <cells-molecule-input name="firstName" label="Nombre" type="text"
        icon="coronita:close" icon-label="Borrar campo"
        required error-message="Campo obligatorio" value="{{firstName}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input name="lastName" label="Apellidos" type="text"
        icon="coronita:close" icon-label="Borrar campo"
        required error-message="Campo obligatorio" value="{{lastName}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input name="email" label="Email" type="email"
        auto-validate error-icon="coronita:alert" icon="coronita:close"
        icon-label="Borrar campo"required error-message="Campo obligatorio"
        value="{{email}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input name="password" label="Password" type="password"
        icon="coronita:visualize" icon-toggled="coronita:hide"
        icon-label="View or hide password" extra-icon="coronita:close"
        extra-icon-label="Clear field" required error-message="Campo obligatorio"
        value="{{password}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-radio-group id="radioGroupGender" aria-label="Sexo" allowEmptySelection 
        on-cells-radio-group-selected-changed="_handleGenderGroupSelectedChange">
        <cells-radio-button id="radioMan" icon="coronita:man" icon-check="coronita:checkmark">Hombre
        </cells-radio-button>
        <cells-radio-button id="radioWoman" icon="coronita:woman" icon-check="coronita:checkmark">Mujer
        </cells-radio-button>
      </cells-radio-group>
    </p> 
    <cells-contact-avatar src="{{avatar}}" alt="{{firstName}}" detail="{{firstName}}">
    </cells-contact-avatar>
    <p>
      <cells-molecule-input label="URL imagen" name="avatarinput" type="text" value="{{avatar}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-st-button on-click="_handleCancelarClick" class="size-xs secondary">
        <button>Cancelar</button>
      </cells-st-button>
      <cells-st-button on-click="_handleAceptarClick" class="size-xs primary">
        <button>Aceptar</button>
      </cells-st-button>
    </p>
    <cells-generic-dp
        id="edituserdp"
        host="http://localhost:3020"
        path="easymoney/v1/users/[[userId]]"
        handle-as="json"
        method="PUT"
        on-request-success="_handleRequestEditUserSuccess"
        on-request-error="_handleRequestEditUserError"
        >
    </cells-generic-dp>
    <cells-generic-dp
        id="adduserdp"
        host="http://localhost:3020"
        path="easymoney/v1/signup"
        handle-as="json"
        method="POST"
        on-request-success="_handleRequestAddUserSuccess"
        on-request-error="_handleRequestAddUserError"
        >
    </cells-generic-dp>
  </template>
  <script src="easy-money-user-form.js"></script>
</dom-module>
