<dom-module id="easy-money-user-form-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  --cells-radio-group-icon-radios-content: {
    margin-bottom: 0.0rem;
  };
  --cells-radio-button-icon-body-label: {
    margin-left: 2.5rem;
    margin: 0rem 1rem 0rem 1rem;
  };
  --cells-st-button-primary: {
    background-color: #000;
    color: #fff;
  };
  --cells-st-button-secondary: {
    background-color: gray; 
    color: #fff;
  };
  --cells-st-button-primary-hover:{
    background-color: rgb(50, 50, 50) ;
  };
  --cells-st-button-secondary-hover:{
    background-color: LightGray ;
  };
  @apply --easy-money-user-form; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  box-sizing: inherit; }

</style></template></dom-module>