<custom-style>
  <style>
    body {
      margin: 0;
      background-color: #000000;
    }

    @media (max-width: 768px) {
      *, *:before, *:after {
        -webkit-tap-highlight-color: transparent;
      }
    }
    --cells-radio-group:{
      --cells-radio-button-icon-icon-size{
          width:30px;
          height:30px;
        }
    }
  </style>
</custom-style>
