<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Demo easy-money-user-form</title>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../../coronita-icons/coronita-icons.html">
    <link rel="import" href="../../cells-demo-helper/cells-demo-helper.html">
    <link rel="import" href="../easy-money-user-form.html">
    <link rel="import" href="css/demo-styles.html">
    <link rel="import" href="../../cells-grid-template/cells-grid-template-styles.html">
  </head>
  <body unresolved ontouchstart>
    <cells-demo-helper available-themes='["cells-coronita-base-theme"]'>
      <cells-demo-case heading="New User" description="A New User Example">
        <template>
          <easy-money-user-form></easy-money-user-form>
        </template>
      </cells-demo-case>
      <cells-demo-case heading="Edit user" description="A Edit User Example">
        <template>
          <style include="cells-grid-template-styles"></style>
          <div class="cgt grid--debug">
            <div class="cgt-col-xs-4 cgt-col-sm-6 cgt-col-md-8 cgt-col-lg-10 cgt-col-lg-ml-2 cgt-col-md-ml-1">
              <easy-money-user-form id="easymoneyuserform"
                hidden$="{{_loading}}"
                first-name="Oscar"
                last-name="Sanchez"
                email="oscar@gmail.com"
                password="oscar"
                user-id="2"
                on-edit-user-ok="_handleEditUserOk"
                on-edit-user-error="_handleEditUserError">
              </easy-money-user-form>
              <template is="dom-if" if="{{_loading}}">
                <cells-molecule-spinner></cells-molecule-spinner>
              </template>
            </div>
          </div>
        </template>
      </cells-demo-case>
    </cells-demo-helper>
  </body>
</html>
